{% extends "base.html" %}

{% block title %}
Login Page
{% endblock %}

{% block head %}
<h1>hello from login</h1>
{% endblock %}

{% block body %}
<div>
    <h1>Login </h1><p><a href="{{ url_for('register') }}"> Click here to register</a></p>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label }}{{ form.username(size=20) }}</p>
        <p>{{ form.password.label }}{{ form.password(size = 20) }}</p>
        <p>{{ form.rememberMe() }}{{ form.rememberMe.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}